In [3]:
#Q1 Comments
# Single line Comments

""" Multiple line \n
comments"""

'''Multi line \n
comments'''

'Multi line \n\ncomments'

In [ ]:
#Q2 Variables: Store a value. Value can be any thing. Like int, float, string, tuple, dictionary, set, tuple, complex (9+6j)
i = 10
j=10.25
k = "Hello WOrld"

In [6]:
#Q3 converting to difgerent data type:
i = 10.25
print(type(i))
j=int(i)
print(type(j))

<class 'float'>
<class 'int'>

In [ ]:
#Q4 How to execute python script
#Using  python keyword with the execution file_name.py
Ex: python myfile.py

In [8]:
#q5 Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

In [16]:
#q6 complex number
#Complex number is combination of real and an imaginary number
#Ex:
i = 2+8j
print(type(i))
print(i.real)
print(i.imag)

<class 'complex'>
2.0
8.0

In [17]:
#q7 correct way to declare a variable named age and assign the value 25 to it?
age = 25

25

In [18]:
#q8 variable named price and assign the value 9.99 to it. What data type does this variable belong to
price = 9.99 #Float data type
print (type(price))

<class 'float'>

In [19]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
name = "Hari Venkat"
print(name)

Hari Venkat

In [22]:
#q10. Given the string "Hello, World!", extract the substring "World".
a = "Hello, World!"
print(a[7:12])

World

In [23]:
#Q11 Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student = True
print(is_student)

True