In [25]:
#Q1
a="Hello"
print(type(a))
a1=[1,2,3,4]
print(type(a1))
a2=10.5
print(type(a2))
a3=(1,2,3)
print(type(a3))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [26]:
#Q2
var1=''
print(type(var1))
var2='[1,2,3]'
print(type(var1))
var3=[1,2,3]
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [22]:
#Q3
a=10
b=5
print(a/b)
print(a%b)
print(a//b)
print(a**2)

2.0
0
2
100

In [24]:
#Q4
for i in [1,'a',3.0,"Hi",5+2j,True,False,[1,2],(1,2),{1,2}]:
  print(i, "datatype:",type(i))

1 datatype: <class 'int'>
a datatype: <class 'str'>
3.0 datatype: <class 'float'>
Hi datatype: <class 'str'>
(5+2j) datatype: <class 'complex'>
True datatype: <class 'bool'>
False datatype: <class 'bool'>
[1, 2] datatype: <class 'list'>
(1, 2) datatype: <class 'tuple'>
{1, 2} datatype: <class 'set'>

In [37]:
#Q5
a=int(input("a:"))
b=int(input("b:"))
i=1
while a%b == 0:
  print ("Divisible: ",i, "times")
  a=a/b
  i+=1
else:
  print ("not purly Divisible at",i, "time")

a:500
b:5
Divisible:  1 times
Divisible:  2 times
Divisible:  3 times
not purly Divisible at 4 time

In [2]:
#Q6
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
  if i%3 ==0:
    print (i, "- is divisible by 3")
  else:
    print (i, "- is not divisible by 3")

1 - is not divisible by 3
2 - is not divisible by 3
3 - is divisible by 3
4 - is not divisible by 3
5 - is not divisible by 3
6 - is divisible by 3
7 - is not divisible by 3
8 - is not divisible by 3
9 - is divisible by 3
10 - is not divisible by 3
11 - is not divisible by 3
12 - is divisible by 3
13 - is not divisible by 3
14 - is not divisible by 3
15 - is divisible by 3
16 - is not divisible by 3
17 - is not divisible by 3
18 - is divisible by 3
19 - is not divisible by 3
20 - is not divisible by 3
21 - is divisible by 3
22 - is not divisible by 3
23 - is not divisible by 3
24 - is divisible by 3
25 - is not divisible by 3

In [2]:
#Q7
Mutable: Once you create an object you can perform any operation like update, delete, overwrite..etc
Imutable:Once you create an object you cannot perform any operations on that.